@tailwind base;
@tailwind components;
@tailwind utilities;


input:focus {
  outline: none;
}

.placeholder-style::placeholder {
  color: #fff;
}


* {
  box-sizing: border-box;
  font-family: 'Ubuntu Mono', sans-serif;
}